header {
    width: 100%;
    position: absolute;
    background-color: lightgray;
    display: flex;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px;
    z-index: 100;
}

section{
    width: 45%;
    
    display:block;
}
aside{
    width: 45%;
    
    display:block;
}
footer{
    margin-top: 100px;
    width: 100%;
}
